
/* Value box */

.value-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-right: 8px;
  margin-bottom: 8px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.50);
}

.value-box > .inner {
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.value-box .value {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 3px 0;
  white-space: nowrap;
  padding: 0;
}

.value-box .caption {
  font-size: 14px;
}
.value-box .caption > small {
  display: block;
  font-size: 14px;
  margin-top: 5px;
}

.value-box .icon i {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.15);
}

.linked-value:hover {
  cursor: pointer;
}

.linked-value:hover i {
  font-size: 45px;
}

.value-box.linked-value:hover {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

/*
 logo
*/

.navbar-logo {
  margin-top: 4px;
}

.navbar-logo img {
  margin-right: 12px;
}



body {
  padding-top: 60px;
}